{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Time Capsule</title>
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
  <header>
    <h1>
      <a href="{% url 'main' %}">
        <img src="{% static 'core/time_capsule_logo.png' %}" style="height: 50px; vertical-align: middle; margin-right: 2px;">
        Time Capsule
      </a>
    </h1>
    
    {% if user.is_authenticated %}
      <nav>
        <a href="{% url 'create' %}">Create Capsule</a>
        <a href="{% url 'public' %}">Public</a>
        <a href="{% url 'your_capsules' %}">Your Capsules</a>
        <a href="{% url 'profile' %}">Profile</a>

        <!-- Logout Form -->
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </nav>
    {% else %}
      <nav>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Signup</a>
      </nav>
    {% endif %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
