{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Time Capsule</title>
  
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <style>
    header nav a.active {
      background-color: #333333;
      border-left: 3px solid #d48f17;
      font-weight: bold;
    }
    header nav a {
      border-left: 3px solid transparent;
    }
  </style>
</head>
<body>
  <header>
    <h1>
      <a href="{% url 'main' %}">
        <img src="{% static 'core/time_capsule_logo.png' %}" style="height: 50px; vertical-align: middle; margin-right: 2px;">
        Time Capsule
      </a>
    </h1>
    
    {% if user.is_authenticated %}
      <nav>
        <a href="{% url 'create' %}" {% if request.resolver_match.url_name == 'create' %}class="active"{% endif %}>Create Capsule</a>
        <a href="{% url 'public' %}" {% if request.resolver_match.url_name == 'public' %}class="active"{% endif %}>Public</a>
        <a href="{% url 'your_capsules' %}" {% if request.resolver_match.url_name == 'your_capsules' %}class="active"{% endif %}>Your Capsules</a>
        <a href="{% url 'profile' %}" {% if request.resolver_match.url_name == 'profile' %}class="active"{% endif %}>Profile</a>

        <!-- Logout Form -->
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </nav>
    {% else %}
      <nav>
        <a href="{% url 'login' %}" {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %}>Login</a>
        <a href="{% url 'register' %}" {% if request.resolver_match.url_name == 'register' %}class="active"{% endif %}>Signup</a>
      </nav>
    {% endif %}
  </header>
  <main>
    {% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>{% endblock %}
  </main>
</body>
</html>
